<h1>Edit Message</h1>


<form method="post" action="/edit">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"><%= message %></textarea><br>
  <button>Submit</button>
</form>


