<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>

<% messages.each do |message| %>


  <li><%= message["message"] %>
    <form method="get" action="/edit/<%= message["id"] %>">
    <button type="submit">Edit</button>
    </form>
  </li>

    <!--change form button to an anchor <a> with href=/messages/1/edit"-->
    <!--get messages/:id/edit; do (so that the params[:id] == 1-->
    <!--still use interpolation to create the href tag-->
    <!--create messages folder under views and drop edit into it. refactor code to match-->
    <!---->
<% end %>



